<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/account/main.css">
    </head>
    <body>
        <div class="head">
            <div class="head_inner">
                <div class="image_mask">
                    <img src="{{user.image}}" alt="logo" class="image">
                </div>
                <div class="right">
                    <p class="name">{{user.name}} <span style="font-weight: 300">#{{user.id}}</span></p>
                    <p class="points">{{user.points}} points</p>
                </div>
            </div>
        </div>
        <div class="content">
            <h2 class="title">Feedback</h2>
            <div class="button">
                <a href="/user/question" class="button_link">Оставить вопрос</a>
            </div>
            <div class="button">
                <a href="#" class="button_link">Чат</a>
            </div>
            <h2 class="title">Баллы</h2>
            <div class="button">
                <a href="/user/share" class="button_link">Поделиться баллами</a>
            </div>
            <h2 class="title">Аккаунт</h2>
            <div class="button">
                <a href="/user/edit" class="button_link">Редактировать</a>
            </div>
            <div class="button">
                <a href="#" class="button_link">Выйти</a>
            </div>
            <div class="button">
                <a href="#" class="button_link" style="color: #da0101">Удалить</a>
            </div>
        </div>
    </body>
    {% include 'micro_sites/users/styles.html' %}
    <style>
        .head {
            background-image: url("{{user.bg_image}}");
        }
    </style>
</html>