<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/account/main.css">
        <link rel="stylesheet" href="/static/css/account/share.css">
    </head>
    <body>
        <div class="head">
            <div class="head_inner">
                <div class="image_mask">
                    <img src="{{user.image}}" alt="logo" class="image">
                </div>
                <div class="right">
                    <p class="name">{{user.name}} <span style="font-weight: 300">#{{user.id}}</span></p>
                    <p class="points">{{user.points}} points</p>
                </div>
            </div>
        </div>
        <div class="content">
            <form action="/share" method="post" class="form">
                {% if get_flashed_messages %}
                <p class="error">{{get_flashed_messages()[0]}}</p>
                {% endif %}
                <input type="text" name="id" placeholder="Введите id для перевода..." class="input">
                <input type="text" name="sum" placeholder="Введите сумму для перевода..." class="input">
                <div class="bottom">
                    <a href="/account" class="back">Назад</a>
                    <input type="submit" class="form_button">
                </div>

            </form>
        </div>
    </body>
    <style>
        .head {
            background-image: url("{{user.bg_image}}");
            background-position: 0 -300px;
        }
        .error {
            color: red;
            text-align: center;
            padding: 5px;
            font-size: calc(1.2 * var(--index));
        }
    </style>
</html>